.Nav{
    background-color: rgba(19, 60, 143, 0.843);

 
}

.containerLogo{
    height:60px;
    width: 60px;
    display: flex;
    align-items: center;
    margin-left: 550px;
   margin-bottom: -70px;
}

.tituloNav{
   
    margin-top: 30px;
    width: 500px;
    height: 70px;
}



.links{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
    width: 350px;
    height: 80px;
   
  
}

.home{
    font-family: Arial, Helvetica, sans-serif;
    font-size:30px;
    line-height: 1.3em;
    text-shadow: 0 0 #000, 0 1.2 em #1095c1;
    overflow: hidden;
    transition: 0.9s;
}

.about{
    font-family: Arial, Helvetica, sans-serif;
    font-size:30px;
    line-height: 1.3em;
    text-shadow: 0 1 #000, 0 1.2 em #1095c1;
    overflow: hidden;
    transition: 0.9s;
}

.home:hover{
    text-shadow:0 -1.0em #07df73, 0 0 #1095c1; 
}

.about:hover{
    text-shadow:0 -1.0em #07df73, 0 0 #1095c1; 
}